<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.hidutil.keymap</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/fantastixus//bin/remap_keys.sh</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/hidutil.out</string>

  <key>StandardErrorPath</key>
  <string>/tmp/hidutil.err</string>
</dict>
</plist>
